.new-job-form-main {
  display: flex;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

.new-job-form {
  height: 250px;
  padding: 20px;
  background-color: rgba(230,233,237,1.0);
  border-radius: 10px;
  box-shadow: 5px 5px grey;
}
