<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Jobs</h1>
    </header>
    <% @jobs.each do |job| %>
      <p><%= link_to "#{job.title} at #{job.company.name}", company_job_path(job.company, job) %></p>
      <p>Level of Interest: <%= job.level_of_interest %></p>
      <p>Location: <%= job.city %></p>
    <% end %>
  </body>
</html>
