<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header class="header">
      <div>All Jobs for <%= @company.name %></div>
    </header>
    <section class="whole">
      <article class="main">
        <table class="table table-striped container-fluid">
          <thead>
            <tr class="table-primary">
              <th style="width: 40%">Job Title</th>
              <th style="width: 20%">Company Name</th>
              <th style="width: 20%"><%= link_to 'Add a New Job', new_company_job_path(@company) %></th>
            </tr>
          </thead>
          <tbody>
            <% @jobs.each do |job| %>
            <tr>
              <td style="width: 40%"><%= link_to job.title, job_path(job) %></td>
              <td style="width: 20%"><%= @company.name %></td>
              <td style="width: 20%" align='center'></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </article>
    </section>
  </body>
</html>
