<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header class='header'>
      <h1>Edit <%= @job.title %> at <%= @company.name %></h1>
    </header>
    <br/>
    <div class='new-job-form-main'>
      <div class='new-job-form'>
        <div class='new-job-form-box'><%= render partial: "form" %></div>
        <div class="btn-group" role="group" aria-label="Basic example">
        </div>
      </div>
    </div>
  </body>
</html>
