<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Create a new job at <%= @company.name %></h1>
    </header>
    <br/>
    <%= render partial: "form" %>
  </body>
</html>
