.company-show-header {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background-color: rgba(230,233,237,1.0);
}

.subheader {
  display: flex;
  justify-content: center;
}

.jobs-show-main {
  display: flex;
  justify-content: space-around;
}

.btn-secondary {
  width: 120px;
  box-shadow: 5px 5px grey;
  background-color: rgba(52, 123, 246, 1.0);
  margin-bottom: 30px;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
}

.individual-contacts {
  width: 230px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px grey;
  background-color: rgba(230,233,237,1.0);
}

#delete-button {
  border-right: 2px solid white;
}

#new-contact-form {
  height: 250px;
  width: 300px;
  background-color: rgba(230,233,237,1.0);
  border-radius: 10px;
  box-shadow: 5px 5px grey;
}
