<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h2>Edit <%= @company.name %></h2>
    </header>
    <%= render partial: "form" %>
  </body>
</html>
