<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header class ='header'>
      <h1>New Company</h1>
    </header>
    <section class='edit-company-main'>
      <div class= 'edit-company-form'>
        <%= render partial: "form" %>
      </div>
    </section>
  </body>
</html>
