.header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background-color: rgba(230,233,237,1.0);
  margin-bottom: 15px;
}

.edit-category-main {
  display: flex;
  justify-content: center;
}

#category-cancel-button {
  padding-left: 50px;
  padding-right: 50px;
}
