
.header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background-color: rgba(230,233,237,1.0)
}

.give-border {
  border: 1px solid black;
}
.whole {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.main {
  width: 80%;
}

.colored {
  background-color: rgba(230,233,237,1.0)
}

.padded {
  padding: 15px;
  border-radius: 15px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle-width {
  width: 500px;
}

.space-30 {
  height: 30px;
}
