<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header class='header'>
      <div>Edit <%= @category.title %> Category</div>
    </header>
    <section class='edit-category-main'>
      <div><%= render partial: 'form' %></div>
    </section>
  </body>
</html>
