<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <%= link_to 'Create New Category', new_category_path %>
  <body>
    <% @categories.each do |category| %>
      <p><%= link_to category.title, category_path(category) %></p>
      <%= link_to 'Edit', edit_category_path(category) %>
      <%= link_to 'Delete', category_path(category), method: :delete, data: {confirm: "Really want to delete this category?"}%>
    <% end %>
  </body>
</html>
