<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <%= link_to 'Create New Category', new_category_path %>
  <body>
    <% @categories.each do |category| %>
      <p><%= category.title %></p>
    <% end %>
  </body>
</html>
