<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header class='header'>
      <h1><%= @category.title %> Category</h1>
    </header>
    <div class='category-positions' align='center'>
      <section class='category-show-main'>
        <table class="table table-striped container-fluid">
          <thead>
            <tr class='table-primary'>
              <td align='center'><strong>Available Positions</strong></td>
            </tr>
          </thead>
          <% @jobs.each do |job| %>
          <tbody>
            <tr>
              <td align='center'><%= link_to job.title, company_job_path(job.company, job) %> at <%= job.company.name %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </section>
    </div>
  </body>
  <%= link_to "<< Back to Categories", categories_path %>
</html>
