<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= @category.title %></h1>
    <% @jobs.each do |job| %>
      <p><%= job.title %></p>
    <% end %>
  </body>
</html>
